doctype=html
html
    head
        content-type:	image/jpg 
    body
        div
            img(src='..temp/foto.jpg', width=200,height=100)
            img(src='..temp/certidao.jpg', width=200,height=100)
